#lalaS {
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 12px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 500;
    line-height: normal;    
    margin: 0;
    min-height: 20px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align:center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 6%;
    will-change: transform;
    margin-left: 2px;
    margin-right: 2px;
    border-bottom: 3px solid #737474;
    border-right: 3px solid #737474;
    box-shadow: 0px 4px 6px #999;    
    }
    
    #lalaS:disabled {
    pointer-events: none;
    }
    
    #lalaS:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
    background-color: white;
    color: black;
    }

.input{
    background-color: #e8dc50;
    height: 40px;
    margin-right: 1px;
    font-size: 20px;
    width: 200px;
    margin-left: 20px;
    border-bottom: 3px solid #737474;
    border-right: 3px solid #737474;
    box-shadow: 0px 4px 6px #999; 
    border-radius: 10px;
}
.contenedor-search{
    margin-top: 20px;
}