.pagination {
  display:flex;
  padding: 30px;
  cursor: pointer;  
  justify-content: center;
  align-items: center;
}

#lala {
appearance: none;
background-color: #000000;
border: 2px solid #1A1A1A;
border-radius: 15px;
box-sizing: border-box;
color: #c0a4a4;
cursor: pointer;
display: inline-block;
font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 20px;
font-weight: 600;
line-height: normal;
margin: 0;
min-height: 60px;
min-width: 0;
outline: none;
padding: 16px 24px;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
width: 80%;
will-change: transform;
margin-left: 7px;
margin-right: 7px;
border-bottom: 3px solid #737474;
border-right: 3px solid #737474;
box-shadow: 0px 4px 6px #999;

}

#lala:disabled {
pointer-events: none;
}

#lala:hover {
box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
transform: translateY(-4px);
background-color: white;
color: black;
}

#lala:active {
background-color: white;
color: black;
box-shadow: 2px 2px black;
transform: translateY(-4px);
}

#lala:focus {
background-color: white;
color: black;
}

